%table.table.table-striped

  %tr
    %th name
    %th email
    %th role
    %th account name


    %tr
      %td= @user.name
      %td= @user.email
      %td= @user.role
      %td= @user.account.name

%p= current_user.id

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
