%span= "#{Account.count} accounts"

%table.table.table-striped

  %tr
    %th Account name
    %th Admin Name
    %th Admin Email
    %th
    %th

    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= account.users.first.name
        %td= account.users.first.email
        %td= link_to 'Show', account
        %td= link_to 'Delete', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%hr/
= link_to "New Account", new_account_path

